
::ng-deep .mat-column-room_type_name {
  min-width: 300px;
  max-width: 400px;
  width: 250px;
}
::ng-deep .mat-column-full_name {
    min-width: 180px;
    max-width: 300px;
}
::ng-deep .mat-column-no_of_nights {
    min-width: 50px;
    max-width: 80px;
}
// ::ng-deep .mat-column-actions {
//     min-width: 180px;
//     max-width: 300px;
// }


