<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <app-statistic-card2 title="Total Sales" [value]="overallSummary[0].total_amount" description="Total sales Overall"
          img="assets/images/banner/img1.png" arrowIcon="trending_up">
        </app-statistic-card2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <app-statistic-card2 title="Total Bookings" [value]="overallSummary[0].total_bookings" description="Total Bookings Overall"
          img="assets/images/banner/img2.png" arrowIcon="trending_down">
        </app-statistic-card2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <app-statistic-card2 title="Total Paid" [value]="overallSummary[0].total_paid" description="Total Paid Overall" img="assets/images/banner/img3.png" arrowIcon="trending_up">
        </app-statistic-card2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <app-statistic-card2 title="Total Due" [value]="overallSummary[0].total_due" description="Total Due Overall" img="assets/images/banner/img4.png" arrowIcon="trending_down">
        </app-statistic-card2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <app-attendance-chart></app-attendance-chart>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <app-chart-card4 [maleCount]="2078" [femaleCount]="1825">
        </app-chart-card4>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-content>
            <ng-scrollbar style="height: 370px" visibility="hover">
              <app-event-card [events]="events" [maxEvents]="3" [showViewMore]="true">
              </app-event-card>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-card>
          <mat-card-header class="header-menu">
            <mat-card-title>Exam Schedule</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 375px" visibility="hover">
              <app-schedule-card [schedules]="examList"></app-schedule-card>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Average Class Attendance</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <apx-chart [series]="performanceRateChartOptions.series!" [chart]="performanceRateChartOptions.chart!"
              [xaxis]="performanceRateChartOptions.xaxis!" [stroke]="performanceRateChartOptions.stroke!"
              [colors]="performanceRateChartOptions.colors!" [dataLabels]="performanceRateChartOptions.dataLabels!"
              [legend]="performanceRateChartOptions.legend!" [markers]="performanceRateChartOptions.markers!"
              [grid]="performanceRateChartOptions.grid!" [yaxis]="performanceRateChartOptions.yaxis!"
              [tooltip]="performanceRateChartOptions.tooltip!" [title]="performanceRateChartOptions.title!">
            </apx-chart>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <app-chart-card1 [title]="title2" [subtitle]="subtitle2"></app-chart-card1>
      </div>
    </div> -->
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Channel Overall Bookings</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 350px" visibility="hover">
              <!-- <app-table-card [dataSource]="sportData" [columnDefinitions]="ChannelOvearallBookingsColumnDefinitions"></app-table-card> -->
               <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
               @for (column of ChannelOvearallBookingsColumnDefinitions; track column) {
                <!-- Skip rendering if column.label is "select" or "action" -->
                @if (column.type === 'check' || column.type === 'actionBtn') {
                <!-- Skip this column -->
                } @else {
                      <ng-container [matColumnDef]="column.def">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                          <span class="truncate-text">{{ column.label }}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row.name">
                          <span class="mobile-label">{{ column.label }}:</span>
                          <span class="truncate-text" [matTooltip]="row[column.def]">
                            {{ row[column.def]}}
                          </span>
                        </mat-cell>
                      </ng-container>
                    }
                }
                

                    <mat-header-row *matHeaderRowDef="getChannelColumns()"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: getChannelColumns()" >
                    </mat-row>

                <!-- Loading Spinner -->
                <div *ngIf="isLoading" class="tbl-spinner">
                    <mat-spinner diameter="40"></mat-spinner>
                </div>
              </table>
                <!-- No Data Message -->
                <div *ngIf="!isLoading && dataSource.data.length === 0" class="no-results">
                    No results
                </div>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <mat-card>
          <mat-card-header class="header-style">
            <mat-card-title>Room Overall Bookings</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-scrollbar style="height: 350px" visibility="hover">
              <!-- <app-table-card [dataSource]="sportData" [columnDefinitions]="ChannelOvearallBookingsColumnDefinitions"></app-table-card> -->
               <table mat-table [dataSource]="dataSource1" matSort class="mat-cell advance-table">
               @for (column of RoomOvearAllBookingsColumnDefinitions; track column) {
                <!-- Skip rendering if column.label is "select" or "action" -->
                @if (column.type === 'check' || column.type === 'actionBtn') {
                <!-- Skip this column -->
                } @else {
                      <ng-container [matColumnDef]="column.def">
                        <mat-header-cell *matHeaderCellDef mat-sort-header sticky>
                          <span class="truncate-text">{{ column.label }}</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row.name">
                          <span class="mobile-label">{{ column.label }}:</span>
                          <span class="truncate-text" [matTooltip]="row[column.def]">
                            {{ row[column.def]}}
                          </span>
                        </mat-cell>
                      </ng-container>
                    }
                } 

                    <mat-header-row *matHeaderRowDef="getRoomColumns(); sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: getRoomColumns()" >
                    </mat-row>

                <!-- Loading Spinner -->
                <div *ngIf="isLoading" class="tbl-spinner">
                    <mat-spinner diameter="40"></mat-spinner>
                </div>
              </table>
                <!-- No Data Message -->
                <div *ngIf="!isLoading && dataSource.data.length === 0" class="no-results">
                    No results
                </div>
            </ng-scrollbar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row clearfix">
      <mat-card>
        <mat-card-header class="header-style">
          <mat-card-title>Monthly Channel Bookings</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
          <ng-scrollbar style="height: 450px" visibility="hover">
            <table class="full-border-table table">
              <thead class="sticky-top">
                <tr>
                  <th rowspan="2">Month</th>
                  <ng-container *ngFor="let channel of channelGroups">
                    <th colspan="2">{{ channel }}</th>
                  </ng-container>
                </tr>
                <tr>
                  <ng-container *ngFor="let channel of channelGroups">
                    <th>Bookings</th>
                    <th>Amount</th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableData">
                  <td>{{ row.month }}</td>
                  <ng-container *ngFor="let channel of channelGroups">
                    <td>{{ row[channel + '_bookings'] || '-' }}</td>
                    <td>{{ row[channel + '_rate'] || '-' }}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
    
          </ng-scrollbar>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="row clearfix">
      <mat-card>
        <mat-card-header class="header-style">
          <mat-card-title>Monthly Room Bookings</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
          <ng-scrollbar style="height: 450px" visibility="hover">
            <table class="full-border-table table">
              <thead class="sticky-top">
                <tr>
                  <th rowspan="2">Month</th>
                  <ng-container *ngFor="let room of roomTypeGroups">
                    <th colspan="2">{{ room }}</th>
                  </ng-container>
                </tr>
                <tr>
                  <ng-container *ngFor="let room of roomTypeGroups">
                    <th>Bookings</th>
                    <th>Amount</th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of roomTableData">
                  <td>{{ row.month }}</td>
                  <ng-container *ngFor="let room of roomTypeGroups">
                    <td>{{ row[room + '_bookings'] || '-' }}</td>
                    <td>{{ row[room + '_rate'] || '-' }}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </ng-scrollbar>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="row clearfix">
      <div class="col-12">
      <div class="calendar-container">
      <div class="calendar-header">
        <button class="nav-button" (click)="previousMonth()">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
          </svg>
        </button>
        <h2 class="month-title">{{ currentMonth }} {{ currentYear }}</h2>
        <button class="nav-button" (click)="nextMonth()">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
          </svg>
        </button>
      </div>

      <div class="calendar-grid">
        <div class="day-header" *ngFor="let day of dayHeaders">{{ day }}</div>
        
        <div 
          *ngFor="let day of calendarDays" 
          class="calendar-day"
          [class.other-month]="!day.isCurrentMonth"
          [class.today]="day.isToday"
          [class.has-bookings]="day.bookings.length > 0"
          [class.light-booking]="day.totalOccupiedRooms >= 1 && day.totalOccupiedRooms <= 5"
          [class.medium-booking]="day.totalOccupiedRooms >= 6 && day.totalOccupiedRooms <= 10"
          [class.heavy-booking]="day.totalOccupiedRooms > 10"
          (click)="selectDay(day)"
        >
          <div class="day-number">{{ day.date.getDate() }}</div>
          <div class="booking-info" *ngIf="day.bookings.length > 0">
            <div class="booking-count">{{ day.bookings.length }} rooms</div>
            <div class="occupied-count">{{ day.totalOccupiedRooms }} occupied</div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>

  </div>
</section>

<ng-template #calenderModal let-modal>
    <div class="modal-header d-b">
      <h4 class="modal-title pull-left" id="modal-basic-title">Bookings List</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="calendar-container">
      <div class="booking-details" *ngIf="selectedDay && selectedDay.bookings.length > 0">
        <h3>Bookings for {{ selectedDay.date.toLocaleDateString() }}</h3>
        <div class="booking-summary">
          <span class="total-rooms">{{ selectedDay.bookings.length }} rooms booked</span>
          <span class="total-occupied">{{ selectedDay.totalOccupiedRooms }} total occupied</span>
        </div>
        <div class="booking-list">
          <div 
            *ngFor="let booking of selectedDay.bookings" 
            class="booking-item"
          >
            <div class="room-info">
              <div class="room-name">{{ booking.room_type_name }}</div>
              <div class="room-id">Room ID: {{ booking.room_id }}</div>
            </div>
            <div class="occupied-badge">{{ booking.occupied_rooms }} occupied</div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('close click')">Close</button>
    </div>
</ng-template>