/* You can add global styles to this file, and also import other style files */

html {
  overflow-y: scroll;
}
.snackbar-success .mdc-snackbar__surface{
  background-color: #4caf50 !important;
  color: white !important;
}

.snackbar-error .mdc-snackbar__surface {
  background-color: #f44336 !important;
  color: white !important;
}


.snackbar-info .mdc-snackbar__surface{
  background-color: #2196f3 !important;
  color: white !important;
}

.hasError{
    color: rgb(169, 20, 20);
}


.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  color: #000;
  opacity: 0.6;
  z-index: 1;
  border: none;
  background: transparent;
}
.close:hover {
  opacity: 1;
}
.form-control{
  border: 1px solid #ccc !important; /* Or your preferred style */
  box-shadow: none !important;
}

